<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  </head>
  <body>
    <h1><%= title %></h1>

    <p>Welcome to <%= title %>. This is a proof of concept web app that adds an extra layer of authorization onto your results. In that way no one else except you can see your results once they have been released.</p><br>
    Click <a href="/login">here</a> to continue
  </body>
</html>
